html, body{
    height: 100%;
    width: 100%;
}
#root{
    width: 100%;
    height: 100%;
}
.main-lobby {
    width: 100%;
    height: 100%;
    background-image: url("/public/img/background-square.png");
    background-repeat: repeat-x;
    background-attachment: fixed;
}
@media (orientation: landscape) {
    .main-lobby {
        background-size: 100% auto;
    }
}

@media (orientation: portrait) {
    .main-lobby {
        background-size: auto 100%;
    }
}
.main-lobby > .content {
    margin: 0 auto;
    width: 800px;
    height: 100%;
    background-color: #06203De4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white;
}
.main-lobby .logo {
    width: 80%;
}
.main-lobby > .content > .MButton{
    margin: 10px 0;
}
.main-lobby .panel {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00000070;
}
.main-lobby .panel > * {
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #06203D;
    flex-direction: column;
    border-radius: 10px;
    position: relative;
    font-size: 28px;
    margin: 0;
    padding: 0;
}
.main-lobby .panel .MInput{
    margin-top: 0 !important;
}
.main-lobby .panel .row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 100%;
}