html, body{
    height: 100%;
    width: 100%;
}
#root{
    width: 100%;
    height: 100%;
}
.main-lobby {
    width: 100%;
    height: 100%;
    background-image: url("/public/img/background-square.png");
    background-repeat: repeat-x;
    background-attachment: fixed;
}
@media (orientation: landscape) {
    .main-lobby {
        background-size: 100% auto;
    }
}

@media (orientation: portrait) {
    .main-lobby {
        background-size: auto 100%;
    }
}
.main-lobby > .content {
    margin: 0 auto;
    width: 800px;
    height: 100%;
    background-color: #06203De4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white;
}
.main-lobby .logo {
    width: 80%;
}
.main-lobby > .content > .MButton{
    margin: 10px 0;
}
.main-lobby .panel {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00000070;
}
.main-lobby .panel > * {
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #06203D;
    flex-direction: column;
    border-radius: 10px;
    position: relative;
    font-size: 28px;
    margin: 0;
    padding: 0;
}
.main-lobby .panel .MInput{
    margin-top: 0 !important;
}
.main-lobby .panel .row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

@media only screen and (max-height: 800px) {
    .main-lobby .logo {
        width: 60%;
    }
}

@media only screen and (max-width: 900px){
    .main-lobby {
        font-size: 18px;
    }
    .main-lobby .logo {
        width: 50%;
    }
    .main-lobby > .content {
        width: 600px;
    }
    .main-lobby .form-container {
        width: 60%;
    }
    .main-lobby  > .content > .MButton {
        width: 200px !important;
        height: 50px !important;
        min-height: 50px !important;
        font-size: 22px;
    }
    .main-lobby .MButton {
        width: 100px !important;
        height: 50px !important;
        min-height: 50px !important;
        font-size: 22px;
    }
    .main-lobby .MInput > div{
        font-size: 18px;
    }
    .main-lobby .MInput > input{
        font-size: 18px;
    }
    .main-lobby .MButton:hover > div {
        font-size: 24px;
    }
    .main-lobby .Lobby_Room > img {
        width: 50px;
        height: 50px;
    }
}

@media only screen and (max-width: 650px){
    .main-lobby {
        font-size: 18px;
    }
    .main-lobby .logo {
        width: 50%;
    }
    .main-lobby > .content {
        width: 100%;
    }
    .main-lobby .form-container {
        width: 90%;
    }
    .main-lobby .MButton {
        width: 100px !important;
        height: 50px !important;
        min-height: 50px !important;
        font-size: 22px;
    }
    .main-lobby .MInput > div{
        font-size: 14px;
    }
    .main-lobby .MInput > input{
        font-size: 14px;
    }
}