html, body{
    height: 100%;
    width: 100%;
}
#root{
    width: 100%;
    height: 100%;
}
.main-lobby {
    width: 100%;
    height: 100%;
    background-image: url("/public/img/background-square.png");
    background-repeat: repeat-x;
    background-attachment: fixed;
}
@media (orientation: landscape) {
    .main-lobby {
        background-size: 100% auto;
    }
}

@media (orientation: portrait) {
    .main-lobby {
        background-size: auto 100%;
    }
}
.main-lobby > .content {
    margin: 0 auto;
    width: 800px;
    height: 100%;
    background-color: #06203De4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white;
}
.main-lobby .logo {
    width: 80%;
}
.main-lobby > .content > .MButton{
    margin: 10px 0;
}