html, body{
    height: 100%;
    width: 100%;
}
#root{
    width: 100%;
    height: 100%;
}
.main {
    width: 100%;
    height: 100%;
    background-image: url("/public/img/background-square.png");
    background-repeat: repeat-x;
    background-attachment: fixed;
    position: relative;
}
@media (orientation: landscape) {
    .main {
        background-size: 100% auto;
    }
}

@media (orientation: portrait) {
    .main {
        background-size: auto 100%;
    }
}
.main > .content {
    margin: 0 auto;
    width: 800px;
    height: 100%;
    background-color: #06203De4;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white;
}
.main > .content > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main > .content > div > p {
    margin-top: 20px;
    cursor: pointer;
}
.main > .content > div > p:hover {
    color: #F4C14A;
    margin-top: 20px;
    cursor: pointer;
}
.main .logo {
    width: 80%;
}
.main .form-container {
    width: 60%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 30px;
}
.main .form-container > * {
    width: 100%;
}

@media only screen and (max-height: 800px) {
    .main .logo {
        width: 60%;
    }
}

@media only screen and (max-width: 900px){
    .main {
        font-size: 18px;
    }
    .main .logo {
        width: 50%;
    }
    .main > .content {
        width: 600px;
    }
    .main .form-container {
        width: 60%;
    }
    .main .MButton {
        width: 100px !important;
        height: 50px !important;
        min-height: 50px !important;
        font-size: 22px;
    }
    .main .MInput > div{
        font-size: 18px;
    }
    .main .MInput > input{
        font-size: 18px;
    }
    .main .MButton:hover > div {
        font-size: 24px;
    }
}

@media only screen and (max-width: 650px){
    .main {
        font-size: 18px;
    }
    .main .logo {
        width: 50%;
    }
    .main > .content {
        width: 100%;
    }
    .main .form-container {
        width: 90%;
    }
    .main .MButton {
        width: 100px !important;
        height: 50px !important;
        min-height: 50px !important;
        font-size: 22px;
    }
    .main .MInput > div{
        font-size: 14px;
    }
    .main .MInput > input{
        font-size: 14px;
    }
}